[project]
	description = Boom your cloud in couple of clicks...
[access "refs/*"]
	owner = group user/omgbebebe (omgbebebe)
[access "refs/for/refs/*"]
	read = group user/omgbebebe (omgbebebe)
	push = group user/omgbebebe (omgbebebe)
	label-Code-Review = -2..+2 group user/omgbebebe (omgbebebe)
	label-Verified = -1..+1 group user/omgbebebe (omgbebebe)
	rebase = group user/omgbebebe (omgbebebe)
	removeReviewer = group user/omgbebebe (omgbebebe)
	submit = group user/omgbebebe (omgbebebe)
[access "refs/heads/*"]
	read = group user/omgbebebe (omgbebebe)
	create = group user/omgbebebe (omgbebebe)
	push = +force group user/omgbebebe (omgbebebe)
	pushMerge = group user/omgbebebe (omgbebebe)
[access "refs/tags/*"]
	push = +force group user/omgbebebe (omgbebebe)
	pushTag = group user/omgbebebe (omgbebebe)
	pushSignedTag = group user/omgbebebe (omgbebebe)
